<h2>Hello {{firstName}} {{lastName}}</h2>
<p>Please verify your account by clicking this:</p>
<a
  style='text-decoration: none'
  href='http://{{host}}/auth/confirmation/{{token}}'
>
  +
  <h1 style='display: inline-block, color: #0194f3'>Verification link</h1>
  +
</a>
+
<br />
+
<h4>Thank You!</h4>,